set hlsearch
set incsearch
set number
" set ignorecase
" set smartcase
" set showmode
" set relativenumber
" set scrolloff=3
" set history=100000

inoremap jk <Esc>
vnoremap jk <Esc>
nnoremap ,ww :wq<CR>
nnoremap ,w :w<CR>
nnoremap ,qq :q!<CR>

inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>
inoremap <C-a> <Home>
inoremap <C-e> <End>
inoremap <C-d> <Delete>

vnoremap v <Esc>

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
nnoremap U <C-r>

" Yank to the end of line
nnoremap Y y$

" Auto indent pasted text
nnoremap P p=`]<C-o>

" Tab operation
nnoremap ,tn gt
nnoremap ,tp gT


" built in search looks better
nnoremap / :action Find<CR>
nnoremap ,/ /

nnoremap ,gc :action GotoClass<CR>
nnoremap ,ga :action GotoAction<CR>
nnoremap ,gf :action GotoFile<CR>
nnoremap ,gy :action GotoSymbol<CR>


nnoremap ,sf :action ShowFilePath<CR>
nnoremap ,sp :action ShowPopupMenu<CR>
