[submodule "modules/spf13-vim"]
	path = modules/spf13-vim
	url = https://github.com/spf13/spf13-vim
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "modules/fasd"]
	path = modules/fasd
	url = https://github.com/clvv/fasd
