[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "modules/fasd"]
	path = modules/fasd
	url = https://github.com/clvv/fasd.git
[submodule "modules/tmuxinator"]
	path = modules/tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
